# IDEs
.idea
.vscode
.zed
*.code-workspace

# OS
.DS_Store

# Secrets
.env

# Common lock
*.lock.json
*.lock

# Python
__pycache__
.venv
cache

# Nodejs
node_modules
build

# Tests
coverage
.coverage
cover

# Logs
*log*.txt
*.log
