[alias]
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[core]
  excludesfile = ~/.gitignore
[color]
  ui = true
[diff]
  compactionHeuristic = true
  noprefix = true
[fetch]
  prune = true
[init]
  defaultBranch = main
[pull]
  ff = only
[safe]
  directory = *
[user]
  name = Alberto Gonzalez
