# IDEs
.idea
.vscode
.zed
*.code-workspace

# OS
.DS_Store

# Secrets
.env
.envrc

# Common lock
*.lock.json
*.lock

# Python
.venv
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
uv.lock

# Nodejs
node_modules
build

# Tests
coverage
.coverage
cover

# Logs
*log*.txt
*.log

# Terraform
.terraform
*.lock.hcl

# CUE
*.local.cue
